<a href="https://colab.research.google.com/github/mehmetgul/python_study/blob/main/01_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Update the code below so that it prints this string is stored in a variable to the console twice. You should be able to accomplish this by only adding one line of code in the place of ????.

In [ ]:
message = "This string is stored in a variable to the console twice."
# Don't modify the code above this line

# don't modify the code below this line
print(message)
print(message)

This string is stored in a variable to the console twice.
This string is stored in a variable to the console twice.

Q2: You are given some incomplete code below. It should print the capitals of Spain, France and Germany, in that order. Try to use some descriptive variable names to complete the code.

In [ ]:
capital_of_spain = "Madrid"
capital_of_france = "Paris"
capital_of_germany = "Berlin"
# Don't modify the code above this line

print(capital_of_france)
print(capital_of_germany)
print(capital_of_spain)

Paris
Berlin
Madrid

Q3:  Can you add a single line of code below to print the following output:
```
The first message
The second message
The third message
```

In [ ]:
message = "The first message"

print(message)

message = "The second message"

print(message)

message = "The third message"

print(message)

The first message
The second message
The third message

Q4: Update the code below so that it prints the following. If you take advantage of multiple assignments, you can accomplish this with one or two lines of code.

```
Hello

World

My

Name

Is

```

In [ ]:
msg1, msg2 = "World\n", "Hello\n"
msg3, msg4, msg5 = "Name\n", "Is\n", "My\n"
# Don't change the code above this line




# Don't change the code below this line
print(msg2)
print(msg1)
print(msg5)
print(msg3)
print(msg4)

Hello

World

My

Name

Is

Q5: Update the code below so that the output is:

```

<class 'int'>

<class 'float'>

<class 'bool'>

<class 'str'>

<class 'list'>

```

In [ ]:
integer_type=2
float_type=2.0
bool_type=True
string_type="hello"
list_type=[1,2,3]

print(type(integer_type))
print(type(float_type))
print(type(bool_type))
print(type(string_type))
print(type(list_type))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>

Q6: Update the code below using type casting so that the output is:

```

3

2

```

In [ ]:
pi = 3.141592653589793
square_root_8 = 2.8284271247461903
# Do not modify above this line
pi = int(pi)
square_root_8 = int(square_root_8)


# Do not modify below this line
print(pi)
print(square_root_8)

3
2

Q7: The code below will currently throw a type error (you can run it to confirm). Can you find the bug and fix it so the output is:
```

10

<class 'str'>

10

<class 'int'>

```

In [ ]:
variable = "10"

# Don't modify the code below this line
print(variable)
print(type(variable))

variable = int(variable)

print(variable)
print(type(variable))

10
<class 'str'>
10
<class 'int'>

Q8: Declare a variable and assign it to None, then print the type of it.

In [ ]:
my_variable = None
print(type(my_variable))

<class 'NoneType'>